@use 'src/styles/vars';

.results{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: vars.$darkGrey;
}
.result{
  &-text{
    text-align: left;
  }
}
.cardGroup{
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  padding-top: 2rem;
}
.card{
  height: 450px;
}
a{
  margin: 1rem;
  overflow: hidden;
}
